In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('loan_ds.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9311 entries, 0 to 9310
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   End of Period                     9311 non-null   object
 1   Loan Number                       9311 non-null   object
 2   Region                            9311 non-null   object
 3   Country / Economy Code            9308 non-null   object
 4   Country / Economy                 9311 non-null   object
 5   Borrower                          9254 non-null   object
 6   Guarantor Country / Economy Code  9028 non-null   object
 7   Guarantor                         9031 non-null   object
 8   Loan Type                         9311 non-null   object
 9   Loan Status                       9311 non-null   object
 10  Interest Rate                     9211 non-null   float64
 11  Currency of Commitment            0 non-null      float64
 12  Project ID                        9311 non-null   object
 13  Project Name                      9285 non-null   object
 14  Original Principal Amount (US$)   9311 non-null   float64
 15  Cancelled Amount (US$)            9311 non-null   float64
 16  Undisbursed Amount (US$)          9311 non-null   float64
 17  Disbursed Amount (US$)            9311 non-null   float64
 18  Repaid to IBRD (US$)              9311 non-null   float64
 19  Due to IBRD (US$)                 9311 non-null   float64
 20  Exchange Adjustment (US$)         9311 non-null   float64
 21  Borrower's Obligation (US$)       9311 non-null   float64
 22  Sold 3rd Party (US$)              9311 non-null   float64
 23  Repaid 3rd Party (US$)            9311 non-null   float64
 24  Due 3rd Party (US$)               9311 non-null   float64
 25  Loans Held (US$)                  9311 non-null   float64
 26  First Repayment Date              9260 non-null   object
 27  Last Repayment Date               9261 non-null   object
 28  Agreement Signing Date            9154 non-null   object
 29  Board Approval Date               9311 non-null   object
 30  Effective Date (Most Recent)      9218 non-null   object
 31  Closed Date (Most Recent)         9303 non-null   object
 32  Last Disbursement Date            5754 non-null   object
dtypes: float64(14), object(19)
memory usage: 2.3+ MB

In [ ]:
# Atributos com dados faltantes
df[df.columns[df.count() < 9311]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9311 entries, 0 to 9310
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country / Economy Code            9308 non-null   object
 1   Borrower                          9254 non-null   object
 2   Guarantor Country / Economy Code  9028 non-null   object
 3   Guarantor                         9031 non-null   object
 4   Interest Rate                     9211 non-null   float64
 5   Currency of Commitment            0 non-null      float64
 6   Project Name                      9285 non-null   object
 7   First Repayment Date              9260 non-null   object
 8   Last Repayment Date               9261 non-null   object
 9   Agreement Signing Date            9154 non-null   object
 10  Effective Date (Most Recent)      9218 non-null   object
 11  Closed Date (Most Recent)         9303 non-null   object
 12  Last Disbursement Date            5754 non-null   object
dtypes: float64(2), object(11)
memory usage: 945.8+ KB

- _Country / Economy_ e _Country / Economy code_ parecem se a mesma feature, mas a última tem 3 registros faltantes. Talvez de para preencher manualmente
- Borrower parece ser uma features importante, mas tem uma quantidade grande de dados faltantes. Investigar melhor para ver como melhorar
- _Guarantor_ e _Guarantor Country / Economy Code_ possuem uma quantodade razoavel de dados faltantes
- Eliminar a feature _Currency of Commitent_ por todos os valores serem nulos
- Observar se _Last Disbursement Date_ é uma feature de interesse, pois há muitos dados faltantes
- _Project Name_ também tem uma quantidade razoável de registros faltantes, mas será descartada provavelmente, já que temos _Project ID_

In [5]:
df.describe()

,Interest Rate,Currency of Commitment,Original Principal Amount (US$),Cancelled Amount (US$),Undisbursed Amount (US$),Disbursed Amount (US$),Repaid to IBRD (US$),Due to IBRD (US$),Exchange Adjustment (US$),Borrower's Obligation (US$),Sold 3rd Party (US$),Repaid 3rd Party (US$),Due 3rd Party (US$),Loans Held (US$)
count,9211.000000,0.0,9.311000e+03,9.311000e+03,9.311000e+03,9.311000e+03,9.311000e+03,9.311000e+03,9.311000e+03,9.311000e+03,9.311000e+03,9.311000e+03,9311.0,9.311000e+03
mean,3.928130,NaN,9.976537e+07,1.189091e+07,1.000730e+07,7.834238e+07,4.768542e+07,3.034144e+07,-5.165671e+05,2.982487e+07,3.947974e+05,3.947974e+05,0.0,4.034874e+07
std,3.462785,NaN,1.721374e+08,5.010706e+07,5.399782e+07,1.558577e+08,1.010272e+08,1.126702e+08,1.429156e+07,1.093645e+08,3.648900e+06,3.648900e+06,0.0,1.264009e+08
min,0.000000,NaN,0.000000e+00,0.000000e+00,-1.000000e-02,0.000000e+00,0.000000e+00,-1.005074e+08,-9.673246e+08,-2.000000e-02,0.000000e+00,0.000000e+00,0.0,-1.005074e+08
25%,0.000000,NaN,1.400000e+07,0.000000e+00,0.000000e+00,7.360817e+06,3.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00
50%,4.750000,NaN,4.000000e+07,2.114860e+03,0.000000e+00,2.578324e+07,1.694284e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00
75%,7.150000,NaN,1.062500e+08,4.298253e+06,0.000000e+00,8.110035e+07,4.996129e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00
max,11.600000,NaN,3.750000e+09,1.995000e+09,1.564981e+09,3.153531e+09,3.000000e+09,2.245452e+09,2.631039e+08,1.503750e+09,2.499620e+08,2.499620e+08,0.0,2.245452e+09

In [6]:
df.describe(include=['object', 'bool'])

,End of Period,Loan Number,Region,Country / Economy Code,Country / Economy,Borrower,Guarantor Country / Economy Code,Guarantor,Loan Type,Loan Status,Project ID,Project Name,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date
count,9311,9311,9311,9308,9311,9254,9028,9031,9311,9311,9311,9285,9260,9261,9154,9311,9218,9303,5754
unique,1,9311,7,146,147,957,125,126,11,11,7128,6107,1629,1746,4996,3517,5750,1303,3915
top,05/31/2025,IBRDB1031,LATIN AMERICA AND CARIBBEAN,ID,Indonesia,MINISTRY OF FINANCE,ID,Indonesia,FSL,Fully Repaid,P005748,POWER,09/15/1998,01/15/2001,04/08/1981,06/25/1991,07/06/2009,06/30/1999,07/06/2009
freq,9311,1,2917,652,652,1259,652,652,2719,6569,14,41,79,48,20,25,20,117,28

In [ ]:
df.

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices